.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all{
    margin: 35px 50px;
}

.buton{
    display: flex;
    flex-direction: column;
    align-items: center;
}