.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
}

.title {
  display: flex;
  justify-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.error {
  padding-left: 15px;
  color: red;
  font-family: "Clear Sans", sans-serif;
}

@media (min-width: 1400px) {
  .container {
    width: 700px;
  }
}
