.body{
    margin: 40px 450px;
}

.container{
    display: flex;
    flex-direction: column;
}

.labels{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.title{
    display: flex;
    justify-content: center;
}