.body {
  height: 100vh;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: 600px;
}

.label {
  display: flex;
  gap: 85px;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  align-items: center;
}
