.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card{
    width: 600px;
}

.label{
    display: flex;
    gap: 85px;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
    align-items: center;
}
