.button{
    text-transform:capitalize;
    background: #11255E;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    width: fit-content;
    min-width: 200px;
}

.text{
    margin: 0;
    font: 400 1.25rem "Inter"; 
}

.button:hover{
    cursor: pointer;
    background: #0c1c49;
}