.button {
  background: #f4f3f3;
  border: 1px solid rgba(145, 140, 140, 0.73);
  border-radius: 20px;
  padding: 15px 80px;
  width: 300px;
  flex-shrink: 0;
}

.text {
  margin: 0;
  font: 400 1.25rem "Clear Sans";
}

.button:hover{
    background: #e9e8e8;
    cursor: pointer;
}