.button {
  background: #fff;
  border: 1px solid rgba(140, 142, 145, 0.50);
  border-radius: 10px;
  padding: 15px 80px;
  width: 300px;
  flex-shrink: 0;
}

.text {
  margin: 0;
  font: 400 1.25rem "Inter";
}

.button:hover{
    background: #e9e8e8;
    cursor: pointer;
}